NEXT_PUBLIC_SUPABASE_URL=https://drlfyjkkioyrnjeitrmd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRybGZ5amtraW95cm5qZWl0cm1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2Nzc0MDIsImV4cCI6MjA5ODI1MzQwMn0.eycWD4P8Uq3rbPB-nCseaNtUaznZdwwLLbF0vC_pRLs
